<ion-header>
  <ion-navbar>
    <ion-title>
      Contact App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  	<ion-list *ngIf="!userInfo">
  		<ion-item *ngFor="let contact of allContacts; let i = index" (click) = "viewContact(contact.rowid)"> 
	      <img class="contactImg" [src]="contact.imageUrl" float-left>
	      <h6 class="contactTitle" float-left>{{ contact.firstName }} {{ contact.lastName }}</h6>
	    </ion-item>
  	</ion-list>

  	<div *ngIf="noContacts">
  		<h3>No Contacts, please add.</h3>
  	</div>

    <div *ngIf="userInfo" class="userInfoDiv">
	    <img class="profilePicImg" [src]="imageUrl" (click) = "setProfilePicture()">
	    <ion-list>
	      <ion-item>
	        <ion-input [(ngModel)]="firstName" type="text" class="" placeholder="First Name"></ion-input>
	      </ion-item>
	      <ion-item>
	        <ion-input [(ngModel)]="lastName" type="text" class="" placeholder="Last Name"></ion-input>
	      </ion-item>
	      <ion-item>
	        <ion-input [(ngModel)]="companyName" type="text" class="" placeholder="Company Name"></ion-input>
	      </ion-item>
	      <ion-item>
	        <ion-input [(ngModel)]="email" type="email" class="" placeholder="Email Address"></ion-input>
	      </ion-item>
	      <ion-item>
	        <ion-input [(ngModel)]="cellPhone" type="number" class="" placeholder="Cell Phone"></ion-input>
	      </ion-item>
	      <ion-item>
	        <ion-input [(ngModel)]="officePhone" type="number" class="" placeholder="Office Phone"></ion-input>
	      </ion-item>
	      <ion-item>
	      	<ion-label>Birth Date:</ion-label>
	        <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="birthDate" type="date"></ion-datetime>
	      </ion-item>
	      <ion-item class="hide">
          </ion-item>
	    </ion-list>
	 
	    <button *ngIf="saveUser" type="submit" ion-button class="colorBgBlack" (click) = "saveData()">Save</button>
	    <br>
	    <button *ngIf="updateUser" type="submit" ion-button class="colorBgBlack" (click) = "updateData()">Update</button>
	    <br>
	    <button type="submit" *ngIf="deleteUser" ion-button class="colorBgBlack" (click) = "deleteData()">Delete</button>
	    <br>
	    <button  type="submit" ion-button class="colorBgBlack" (click) = "backFunc()">Back</button>
	    <br>
	 </div>

	 <ion-fab bottom right *ngIf="!userInfo">
	    <button ion-fab mini (click) = "addNewUser()"><ion-icon name="add"></ion-icon></button>
	  </ion-fab>
</ion-content>
